@import '../../scss/variables.scss';
@import '../../scss/funciones.scss';

$border-radio: 4;
$espaciado-32: 32;
$padding-resultado-imagen: 16;
$tamanio-resultado-imagen: 180;
$tamanio-icono-envio-gratis: 18;
$espacio-resultado-precio: 32;
$tamanio-hr: 1;

.contenedor {
    & .marco{
        & .resultado-imagen {
          display: block;
          margin: auto;
          width: auto;
          padding: calcularTamanioVW($padding-resultado-imagen); 
          height: calcularTamanioVW($tamanio-resultado-imagen);
          -webkit-border-radius: calcularTamanioVW($border-radio);
          -moz-border-radius: calcularTamanioVW($border-radio);
          border-radius: calcularTamanioVW($border-radio);
      }
        & .resultado-precio {
          display: grid;
          grid-template-rows: auto auto;
          grid-gap: calcularTamanioVW($espacio-resultado-precio);
          padding:
          {
              top: calcularTamanioVW($padding-resultado-imagen); 
              bottom: calcularTamanioVW($espaciado-32);
          }
          & .precio {
            & img {
              display: inline-block;
              height: calcularTamanioVW($tamanio-icono-envio-gratis);
              width: calcularTamanioVW($tamanio-icono-envio-gratis);
            }
          }
        }
        & .resultado-ubicacion {
          display: flex;
          padding-top: calcularTamanioVW($padding-resultado-imagen); 
        }
        & hr{
          margin: auto;
          color: $color-gris-claro;
          border: calcularTamanioVW($tamanio-hr) solid $color-gris-claro;
          width: 96%;
        } 
    }
}

@media screen and (min-width: 1025px) and (hover: hover) and (pointer: fine){
  .contenedor  {
      & .marco{
        & .resultado-imagen {
          padding: unidadPixel($padding-resultado-imagen); 
          height: unidadPixel($tamanio-resultado-imagen);
          -webkit-border-radius: unidadPixel($border-radio);
          -moz-border-radius: unidadPixel($border-radio);
          border-radius: unidadPixel($border-radio);
        }
        & .resultado-precio {
          grid-gap: unidadPixel($espacio-resultado-precio);
          padding:
          {
              top: unidadPixel($padding-resultado-imagen); 
              bottom: unidadPixel($espaciado-32);
          }
          & .precio {
            & img {
              height: unidadPixel($tamanio-icono-envio-gratis);
              width: unidadPixel($tamanio-icono-envio-gratis);
            }
          }
        }
        & .resultado-ubicacion {
          padding-top: unidadPixel($padding-resultado-imagen); 
        }
        & hr{
          border: calcularTamanioVW($tamanio-hr) solid $color-gris-claro;
        } 
      }
    }
}
