@import '../../scss/variables.scss';
@import '../../scss/functions.scss';

$padding-categories: 16;
$height-categories: 47;

.main-container{
 & .frame {

    & .categories {
        display: flex;
        height: calculateSizeVW($height-categories); 
        background-color: $light-gray-color;
        padding: { 
            top:  calculateSizeVW($padding-categories); 
            bottom: calculateSizeVW($padding-categories); 
        }
    }
  }
}

@media screen and (min-width: 1025px) and (hover: hover) and (pointer: fine){
    .main-container  {
      & .frame{

          & .categories {
            height: calculateSizePX($height-categories); 
            padding: { 
                top:  calculateSizePX($padding-categories); 
                bottom: calculateSizePX($padding-categories); 
            }
        }
      }
    }
}