@import '../../scss/variables.scss';
@import '../../scss/funciones.scss';

$padding-categorias: 16;
$altura-categorias: 47;

.contenedor{
 & .marco {

    & .categorias {
        display: flex;
        height: calcularTamanioVW($altura-categorias); 
        background-color: $color-gris-claro;
        padding: { 
            top:  calcularTamanioVW($padding-categorias); 
            bottom: calcularTamanioVW($padding-categorias); 
        }
    }
  }
}

@media screen and (min-width: 1025px) and (hover: hover) and (pointer: fine){
    .contenedor  {
      & .marco{

          & .categorias {
            height: unidadPixel($altura-categorias); 
            padding: { 
                top:  unidadPixel($padding-categorias); 
                bottom: unidadPixel($padding-categorias); 
            }
        }
      }
    }
}