@import '../../scss/variables.scss';
.relleno-vertical
{
    padding: 5px;
}
.logo-ml {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.caja-busqueda {
    display: inline-block;
    float: left;
    width: 92%;
    border: 0px;
    height: 30px;
    text-align: start;
}
.icono-busqueda {
    background-color: $color-gris-claro;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 7px;
}

.manito {
    cursor: pointer;
}