@import './scss/variables.scss';
@import './scss/funciones.scss';

body {
  background-color: $color-gris-claro;
}

.contenedor{
 & .marco {
    margin: 0 auto;
    min-height: auto;
    width: 100vw;
  }
}

.manito {
  cursor: pointer;
}

.inter-lineado {
  line-height: normal;
}


@media screen and (min-width: 1025px) and (hover: hover) and (pointer: fine){
    .contenedor  {
      & .marco{
          width: auto;
          max-width: 1024px;
      }
    }
}
  