@import './scss/variables.scss';

body {
  background-color: $color-gris-claro;
  font-family: verdana, arial, sans-serif;
}
 
.manito {
  cursor: pointer;
}

@media screen and (min-width: 1025px) and (hover: hover)  and (pointer: fine){
 
}
  