@import './scss/variables.scss';
@import './scss/functions.scss';

body {
  background-color: $light-gray-color;
}

.main-conteiner{
 & .frame {
    margin: 0 auto;
    min-height: auto;
    width: 100vw;
  }
}

.little-hand {
  cursor: pointer;
}

.line-spacing{
  line-height: normal;
}


@media screen and (min-width: 1025px) and (hover: hover) and (pointer: fine){
  .main-conteiner  {
      & .frame{
          width: auto;
          max-width: 1024px;
      }
    }
}
  