@import './variables.scss';

.background-yellow { background-color: $yellow-color !important; }
.background-white { background-color: $white-color !important; }

.gray-font { color: $dark-gray-color !important;}