@import './variables.scss';

.fondo-amarillo { background-color: $color-amarillo !important; 
}
.fondo-negro { background-color: $color-negro !important; }
.fondo-gris-oscuro { background-color: $color-gris-oscuro !important; }
.fondo-gris { background-color: $color-gris !important; }
.fondo-gris-claro { background-color: $color-gris-claro !important; }
.fondo-blanco { background-color: $color-blanco !important; }
.fondo-azul { background-color: $color-blanco !important; }

.letras-gris { color: $color-gris-oscuro !important;}