.cuadricula {
	display: grid;
	width: 100%;
	padding-left: 2.9296875%;
	padding-right: 2.9296875%;
	grid-template-columns: 6.43153527% 6.43153527% 6.43153527% 6.43153527% 6.43153527% 6.43153527% 6.43153527% 6.43153527% 6.43153527% 6.43153527% 6.43153527% 6.43153527%;
	grid-column-gap: 2.09751037%;
}

.inicia-1 { grid-column-start: 1; }
.inicia-2 { grid-column-start: 2; }
.inicia-3 { grid-column-start: 3; }
.inicia-4 { grid-column-start: 4; }
.inicia-5 { grid-column-start: 5; }
.inicia-6 { grid-column-start: 6; }
.inicia-7 { grid-column-start: 7; }
.inicia-8 { grid-column-start: 8; }
.inicia-9 { grid-column-start: 9; }
.inicia-10 { grid-column-start: 10; }
.inicia-11 { grid-column-start: 11; }



.termina-1 { grid-column-end: 1; }
.termina-2 { grid-column-end: 2; }
.termina-3 { grid-column-end: 3; }
.termina-4 { grid-column-end: 4; }
.termina-5 { grid-column-end: 5; }
.termina-6 { grid-column-end: 6; }
.termina-7 { grid-column-end: 7; }
.termina-8 { grid-column-end: 8; }
.termina-9 { grid-column-end: 9; }
.termina-10 { grid-column-end: 10; }
.termina-11 { grid-column-end: 11; }
.termina-12 { grid-column-end: 12; }


.mide-1 { grid-column-end: span 1; }
.mide-2 { grid-column-end: span 2; }
.mide-3 { grid-column-end: span 3; }
.mide-4 { grid-column-end: span 4; }
.mide-5 { grid-column-end: span 5; }
.mide-6 { grid-column-end: span 6; }
.mide-7 { grid-column-end: span 7; }
.mide-8 { grid-column-end: span 8; }
.mide-9 { grid-column-end: span 9; }
.mide-10 { grid-column-end: span 10; }
.mide-11 { grid-column-end: span 11; }
.mide-12 { grid-column-end: span 12; }
