@import './variables.scss';
@import './funciones.scss';

$tamanio-12: 12;
$tamanio-14: 14;
$tamanio-16: 16;
$tamanio-18: 18;
$tamanio-24: 24;
$tamanio-28: 28;
$tamanio-46: 46;

.fuente-12
{
    display: inline;
    font-size: calcularTamanioVW($tamanio-12);
}
.fuente-14
{
    display: inline;
    font-size: calcularTamanioVW($tamanio-14);
}
.fuente-16
{
    display: inline;
    font-size: calcularTamanioVW($tamanio-16);
}
.fuente-18
{
    display: inline;
    font-size: calcularTamanioVW($tamanio-18);
}
.fuente-24
{
    display: inline;
    font-size: calcularTamanioVW($tamanio-24);
}
.fuente-28
{
    display: inline;
    font-size: calcularTamanioVW($tamanio-28);
}
.fuente-46
{
    display: inline;
    font-size: calcularTamanioVW($tamanio-46);
}


@media screen and (min-width: 1025px) and (hover: hover) and (pointer: fine){
    .fuente-12
    {
        display: inline;
        font-size: unidadPixel($tamanio-12);
    }
    .fuente-14
    {
        display: inline;
        font-size: unidadPixel($tamanio-14);
    }
    .fuente-16
    {
        display: inline;
        font-size: unidadPixel($tamanio-16);
    }
    .fuente-18
    {
        display: inline;
        font-size: unidadPixel($tamanio-18);
    }
    .fuente-24
    {
        display: inline;
        font-size: unidadPixel($tamanio-24);
    }
    .fuente-28
    {
        display: inline;
        font-size: unidadPixel($tamanio-28);
    }
    .fuente-46
    {
        display: inline;
        font-size: unidadPixel($tamanio-46);
    }
}